.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    z-index: 500;
}

.homecontainer {
    pointer-events: none;
}

.exploreButton,
.links {
    pointer-events: auto;
}

.homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50vw;
    z-index: 500;
    background: rgba(0, 0, 0, 0.541);
    /* Fondo blanco translúcido */
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);

    @media (width <=900px) {
        width: 80vw;
        height: auto;
        padding: 2rem 1rem;
    }
}

.title {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: white;

    @media (width <=900px) {
        font-size: 1.5rem;
    }

    @media  (min-width: 900px) and (max-width: 1400px) {
        font-size: 2rem;
        padding: 0 2rem;
    }
}

.description {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: white;

    @media (width <=900px) {
        font-size: 1rem;
    }

    @media  (min-width: 900px) and (max-width: 1400px) {
        font-size: 1.5rem;
    }
}

.description2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
    padding: 0 13rem;
    text-align: justify;

    @media (width <=900px) {
        font-size: 0.8rem;
        padding: 0 1rem;
    }

    @media (min-width: 900px) and (max-width: 1400px) {
        font-size: 0.9rem;
        padding: 0 2rem;
    }
}

.links {
    display: flex;
    margin-bottom: 0.5rem;
}

/* <a href="https://iconscout.com/icons/github" class="text-underline font-size-sm" target="_blank">github</a> by <a href="https://iconscout.com/es/contributors/manoj10101996/:assets" class="text-underline font-size-sm" target="_blank">Manojkumar Muthukumar</a>*/
/* <a href="https://iconscout.com/icons/github" class="text-underline font-size-sm" target="_blank">github</a> by <a href="https://iconscout.com/es/contributors/manoj10101996/:assets" class="text-underline font-size-sm">Manojkumar Muthukumar</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a> */

.githubLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.2s;
    pointer-events: auto;
    min-width: 40px;
    min-height: 40px;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
}

.iconWrapper {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.github1,
.github2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    transition: opacity 0.2s;
}

.github2 {
    opacity: 0;
}

.githubLink:hover .github1 {
    opacity: 0;
}

.githubLink:hover .github2 {
    opacity: 1;
}

.githubLink:hover {
    transform: scale(1.5);
}

.buttonContainer {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;

    @media (width <=900px) {
        flex-wrap: wrap;
        margin-top: 1rem;
    }
}

.exploreButton {
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 0 2rem;
    padding: 1rem;
    z-index: 500;
    background:  rgba(0, 0, 0, 0.541);
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.3s ease;

    &:hover {
        background: rgba(69, 54, 122, 0.603);
        border: 1px solid rgb(227, 157, 255);
        scale: 1.2;
    }

    @media (width <=900px) {
        margin: 1rem;
        padding: 0.8rem;

    }
}